**/*

!.*
!*
dist
node_modules
.idea/dictionaries
.idea/tasks.xml
.idea/workspace.xml
.idea/usage.statistics.xml

!src/**/*
src/**/*.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

**/*.env
**/*.log